.logo1 {
  width: 150px;
}
header {
  background-color: white;
  font-size: 300%;
  font-family: "Franklin Gothic Medium";
  position: relative;
  left: 3%;
}
body {
  background-color: white;
}
.gridPadre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.MercadoLiebre {
  text-align: center;
  margin-top: 10%;
}
.quienes {
  font-size: 400%;
}
.pedi {
  font-size: 200%;
  margin-top: 10%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.pie {
  margin-top: 10%;
}
.formulario {
  margin-top: 10%;
}

.card {
  margin-bottom: 10%;
  border: solid;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.custom-search {
  border: 2px solid black;
  border-radius: 25px;
}

.custom-search input[type="search"] {
  border: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}
.productoss {
  margin-top: 5%;
}
.page-link {
  color: black;
}
